<form>
	<h3 class="heading">Data</h3>
		<table class="data">
			<tr>
				<td>Armor Stat ID</td>
				<td>Physical Defense</td>
				<td>Magical Defense</td>				
				<td>Bonus</td>
				<td>Durability</td>
				<td>Rarity</td>
			</tr>
			{{#each Page}}
				<tr>
					<td> {{armorStatID}} </td>
					<td> {{physicalDefense}} </td>
					<td> {{magicalDefense}} </td>
					<td> {{bonus}} </td>
					<td> {{durability}} </td>
					<td> {{rarity}} </td>
				</tr>
			{{/each}}
		</table>
</form>
		
<h2 class="heading">Edit Data</h2>
	<form>
		<table class="data">
			<tr>
				<td>Select Armor Stat ID to edit<input type ="text" id="armorStatID" name="armorStatID"></td>
			</tr>
			<tr>
				<td>Physical Defence<input type ="text" id="physicalDefence" name="physicalDefence"></td>
			</tr>
			<tr>
				<td>Magical Defence<input type ="text" id="magicalDefence" name="magicalDefence"></td>
			</tr>
			<tr>
				<td>Bonus <input type ="text" id="bonus" name="bonus"></td>
			</tr>
			<tr>
				<td> Durability<input type ="text" id="durability" name="durability"> </td>
			</tr>
				<td>Rarity<input type ="text" id="rarityID" name="rarity"> </td>
			</tr>
			<tr>
				<td> <input type="submit" value="Edit"> </td>
			</tr>
		</table>
	</form>
	<h2 class="heading"> Remove Data </h2>
	<form>
		<table class="data">
			<tr>
				<td> Armor Stat ID <input type ="text" id="armorStatID_Search" name="armorStatID_Search">
				</td>
			</tr>
			<tr>
				<td><input type="submit" value="Remove"></td>
			</tr>
		</table>
	</form>
	<h2 class="heading"> Search Data </h2>
	<form action="/Armor_Stats" method="POST">
		<table class="data">
			<tr>
				<td><select id="searchData" name="searchData">
						<option value="armorStatID">Armor Stat ID</option>
						<option value="physicalDefence">Physical Defence</option>
						<option value="magicalDefence">Magical Defencce</option>
						<option value="bonus">Bonus</option>
						<option value="durability">Durability</option>
						<option value="rarity">Rarity</option>
					</select><input type ="text" id="searchDataAmount" name="searchDataAmount" min="0"></td>
			</tr>
			<tr>
				<th>  <input type="submit" value="Search"> </th>
			</tr>
		</table>
	</form>

