<form>
    <h3 class="heading">Data</h3>
        <table class="data">
			<tr>
				<td>Weapon Stat ID</td>
				<td>Attack</td>
				<td>Magic</td>				
				<td>Bonus</td>
				<td>Durability</td>
				<td>Rarity</td>
			</tr>
			{{#each Page}}
				<tr>
					<td> {{weaponStatID}} </td>
					<td> {{attack}} </td>
					<td> {{magic}} </td>
					<td> {{bonus}} </td>
					<td> {{durability}} </td>
					<td> {{rarity}} </td>
				</tr>
			{{/each}}
        </table>
</form>
	
<h2 class="heading">Edit Data</h2>
<form>
	<table class="data">
		<tr>
			<td> Weapon Stat ID<input type ="text" id="weaponStatID" name="weaponStatID"> </td>
		</tr>
		<tr>
			<td> Attack<input type ="text" id="attack" name="attack"> </td>
		</tr>
		<tr>
			<td> Magic<input type ="text" id="magic" name="magic"> </td>
		</tr>
		<tr>
			<td> Bonus <input type ="text" id="bonus" name="bonus"> </td>
		</tr>
		<tr>
			<td> Durability <input type ="text" id="durability" name="durability"> </td>
		</tr>
		<tr>
			<td> Rarity <input type ="text" id="rarity" name="rarity"> </td>
		</tr>
		<tr>
			<th>  <input type="submit" value="Edit"> </th>
		</tr>
	</table>  
</form>

<h2 class="heading"> Remove Data </h2>
<form>
    <table class="data">
        <tr>
			<td>
				Weapon Stat ID<input type ="text" id="weaponStatID" name="weaponStatID"> 
			</td>
        </tr>
        <tr>
			<th>  <input type="submit" value="Remove"> </th>
        </tr>
    </table>
</form>
	
<h2 class="heading"> Search Data </h2>
<form  action="/Weapon_Stats" method="POST">
    <table class="data">
        <tr>
			<td>
				<select name="searchData" id="searchData">
					<option value="weaponStatID">Weapon Stat ID</option>
					<option value="attack">Attack</option>
					<option value="magic">Magic</option>
					<option value="bonus">Bonus</option>
					<option value="durability">Durability</option>
					<option value="rarity">Rarity</option>
				</select> <input type ="text" id="searchDataAmount" name="searchDataAmount">
			</td>
        </tr>
        <tr>
			<th>  <input type="submit" value="Search"> </th>
        </tr>
    </table>
</form>